# Linters
flake8==3.7.9
flake8-blind-except==0.1.1
flake8-builtins==1.5.3
flake8-comprehensions==3.3.0
flake8-import-order==0.18.1
flake8-commas==2.0.0
flake8-todo==0.7
flake8-debugger==3.1.0
flake8-mutable==1.2.0
flake8-eradicate==0.2.1
flake8-print==3.1.4
pep8-naming==0.8.2
flake8-type-annotations==0.1.0
dlint==0.8.0
autoflake

